@{
    ViewData["Title"] = "PokeGeeks";
}

<br />
<br />
<br />
<br />
<div class="row">


    <div class="col-md-3 mb-2">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Habitación 1</h3>
            </div>
            <div class="card-body">
                <img src="https://image-tc.galaxy.tf/wijpeg-axw5v17qr09qa28z5mfpaam09/delfines-hotel-peru-lima-accommodation-superior-room-tripadvisor-booking-bed_standard.jpg?crop=67%2C0%2C1067%2C800" />
                <p class="card-text">Esta habitación es sencilla</p>
                <a href="#" class="btn btn-info">Leer más</a>
            </div>
        </div>
    </div>

    
</div>

