
@{
    ViewData["Title"] = "PokeGeeks";
}



<h1 class="font-baloo" style="margin-top: 150px; margin-bottom: 100px; text-align:center; font-size: 36px;">¡Bienvenido a Nuestra tienda Geek!</h1>

<div style="text-align: center;">
    <a href="~/Apartar/Index" style="display: inline-block; background-color: #f41414; color: #fff; text-decoration: none; padding: 10px 20px; border-radius: 5px; margin-bottom: 100px;">Ver los Productos</a>
</div>